@font-face {
	font-family: Poppins;
	src: url(fonts/Poppins-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: Poppins;
	src: url(fonts/Poppins-ExtraBold.ttf);
	font-weight: bold;
}

html {
    background: #6F263D;
}

body {
	font: 18px "Poppins";
	color: #3c3c3c;
	background: #F9F9F9;
	box-sizing: border-box;
	margin: 0;
	padding: 100px 0px 0px 0px;
    min-width: 1080px;
}

body > header {
	height: 100px;
	width: 100%;
	background: #6F263D;
	color: white;
	display: flex;
	justify-content: space-evenly;
	position: fixed;
    z-index: 1;
    top: 0;
}

footer {
	box-sizing: border-box;
	text-align: center;
	height: 100px;
	color: white;
	background: #6F263D;
	padding: 50px 0 0 0;
	clip-path: polygon(0 80px, 100% 0, 100% 105%, 0 105%);
}

footer a {
	color: white;
	text-decoration: none;
}

#logo {
	height: 80px;
	margin: auto 0 auto 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: url('images/main/colorado.webp') no-repeat;
	background-size: 98px 80px;
}

#logo > * {
	margin: 0 0 0 100px;
}

#logo h1 {
	font-weight: normal;
	font-size: 1.5em;
	line-height: 1.2em;
	color: white;
}

#logo h1 span {
	font-weight: bold;
	text-transform: uppercase;
}

#logo small {
	text-transform: uppercase;
	font-size: 0.85em;
}

nav ul {
	margin: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
	height: 100%;
}

nav ul li {
	padding: 0 10px;
	margin: 0 5px;
	font-size: 1em;
	line-height: 4.3em;
}

nav ul a {
	color: #F9F9F9;
	padding: 5px 0;
	text-decoration: none;
	text-transform: uppercase;
}

nav ul a:hover, .active a {
	border-bottom: 3px solid #2E5991;
}

.active a:hover {
    border-bottom: 4px solid #F9F9F9;
}

.centered {
	text-align: center;
}

.avatar {
	display: block;
    width: 1080px;
    margin: 0 auto; 
	filter: grayscale(0.1);
}

.cleaner {
	clear: both;
}

.paragraph-button {
	margin-top: 50px;
}

.overview-button {
	background: #6F263D;
	color: white;
	font-size: 0.9em;
	text-transform: uppercase;
	text-decoration: none;
	padding: 12px 25px;
	border-radius: 25px;
	box-shadow: 5px 5px 1px #2E5991;
}

.overview-button:hover {
	background: #2E5991;
	color: white;
	font-size: 0.9em;
	text-transform: uppercase;
	text-decoration: none;
	padding: 12px 25px;
	border-radius: 25px;
	box-shadow: 5px 5px 1px #6F263D;
}

.overview-container-buttons {
	text-align: center;
}

article {
	max-width: 1080px;
	margin: 0 auto;
	padding: 50px 50px 10px 50px;
}

section {
	max-width: 1080px;
	margin: 0 auto;
	padding: 50px 0px 10px 0px;
}

article header {
	height: 10px;
}



article h1 {
	padding: 2px 0;
	color: #6F263D;
	margin: 0;
	font-size: 2.3em;
	font-weight: bold;
	text-transform: uppercase;
	width: auto;
	border-bottom: 5px solid #2E5991;
	text-align: center;
}

article h2 {
	padding: 2px 0;
	color: #6F263D;
	margin: 0;
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	width: max-content;
	border-bottom: 5px solid #2E5991;
}

article h3,
article h4,
article h5,
article h6 {
	color: #0a294b;
	text-shadow: 2px 2px 0 #88abd1, 3px 3px 7px #666666;
}

article section p {
	line-height: 1.8em;
	margin-bottom: 1.5em;
}

article section a {
	color: #6F263D;
}

.left {
    float: left;
}


/* ROSTER */
.roster {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
}

.roster th, .roster td {
  padding: 10px 12px;
  border: 0px solid #ddd;
  text-align: left;
  vertical-align: middle;
}

.roster thead {
  background-color: #2E5991;
  color: white;
}

.roster tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.roster tbody tr:hover {
  background-color: #e0e0e0;
}

/* .player-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 8px;
} */





/* GAME */

/* body {
    background: #0f3b63;
    font-family: Arial, sans-serif;
    user-select: none;
} */

#rink {
    width: 750px;
    height: 450px;
    background: #cfe8ff;
    border: 6px solid #000000;
    margin: 40px auto;
    position: relative;
    box-shadow: 0 0 40px #6F263D;
    border-radius: 80px;
}

#goal {
    width: 30px;
    height: 120px;
    border: 6px solid red;
    position: absolute;
    right: 0;
    top: 165px;
    background: rgba(255, 0, 0, 0.1);
    border-radius: 10px;
}

#puck {
    width: 26px;
    height: 26px;
    background: black;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 160px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.player {
    width: 30px;
    height: 30px;
    background: blue;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#message {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    color: white;
    font-weight: bold;
}